/* --- ------ Universal Selector starts here ------ --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: "Inter", sans-serif;
}
/* --- ------ Universal Selector ends here ------ --- */

/* --- ------ Container for max-width starts here ------ --- */
.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}
/* --- ------ Container for max-width ends here ------ --- */

/* --- ------ Common Button start here ------ --- */
/* common-button-one ------ --- */
.common-button-one {
    cursor: pointer;
    
    width: 100%;
    padding: 16px 16px;

    border: none;
    border-radius: 8px;

    background-color:#1D4ED8;
    color: white;

    font-size: 16px;
    font-weight: bold;
}
.common-button-one:hover {
    box-shadow: 0px 0px 10px black;
}
/* common-button-two ------ --- */
.common-button-two {
    cursor: pointer;
    
    width: 100%;
    padding: 16px 16px;

    border: none;
    border-radius: 8px;

    background-color:#1D4ED8;
    color: white;

    font-size: 16px;
    font-weight: bold;
}
.common-button-two:hover {
    box-shadow: 0px 0px 10px black;
}
/* pricing-button ------ --- */
.pricing-button {
    cursor: pointer;
    
    width: 100%;
    padding: 16px 0px;
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;
}
.outline-one {
    border-color: #1D4ED8;
    background-color: transparent;
    color: #1D4ED8;
}
.outline-two {
    border-color: black;
    background-color: transparent;
    color: black;
}
/* pricing-button-featured ------ --- */
.pricing-button-featured {
    cursor: pointer;
    
    width: 100%;
    padding: 16px 0px;

    border: none;
    border-radius: 8px;

    background-color:#1D4ED8;
    color: white;

    font-size: 16px;
    font-weight: bold;
}
/* --- ------ Common Button ends here ------ --- */

/* --- ------ Common Card starts here ------ --- */
/*main-section-one ------ --- */
.speaker-card {
    display: flex;
    flex-direction: column;

    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.speaker-card img {
    display: block;
    object-fit: cover;
    
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.speaker-card h3 {
    margin-top: 8px;
    margin-bottom: 8px 0;
}
.speaker-card h5 {
    color:#1D4ED8;
    margin-top: 16px;
}
.speaker-card p {
    color: gray;
    line-height: 1.6;
    margin-top: 16px;
}
/*main-section-two ------ --- */
/* subscription-card */
.subscription-card {
    display: flex;
    flex-direction: column;

    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 16px;
    color: black;
}
.subscription-card hr {
    margin: 16px -24px;
    border: none;
    border-top: 1px solid #ddd;
}
.subscription-card ul {
    font-size: 14px;
    
    padding-left: 20px;
    flex-grow: 1;
}
.subscription-card h5 small ul {
    color: 333333;
}
.subscription-card h1 {
    font-size: 48px;
}
.subscription-card h5 {
    margin-bottom: 8px;
}
.subscription-card-button {
    margin-top: 16px;
}
/* subscription-card-featured */
.subscription-card-featured {
    display: flex;
    flex-direction: column;

    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 16px;

    background-color: #0D1B2A;
    color: #ddd;

    box-shadow: 0 0 10px black;
}
.subscription-card-featured hr {
    margin: 16px -24px;
    border: none;
    border-top: 1px solid #ddd;
}
.subscription-card-featured ul {
    flex-grow: 1;

    padding-left: 20px;
}
.subscription-card-featured h1 {
    font-size: 48px;
}
.subscription-card-featured h5 {
    color: #1D4ED8;
}
.subscription-card-featured h5 {
    margin-bottom: 8px;
}
.subscription-card-button {
    margin-top: 16px;
}
/* --- ------ Common Card ends here ------ --- */


/* --- ------ Nav starts here ------ --- */
/* "nav-parent" is a command center in Nav bar. */
.nav-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0.5px solid rgb(222, 222, 222);
    padding: 8px 16px;
    background-color: rgb(255, 255, 255);
}
/* "nav-parent-logo" class shows the area of logo. */
.nav-parent-logo {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 4px 8px;
}
/* "nav-parent-logo-source" provides properties & characteristics of the logo. */
.nav-parent-logo-source {
    height: 40%;
    width: auto;
}
/* "nav-parent-menu" is marking the area of influence. */
.nav-parent-menu {
    justify-content: space-between;
    align-items: center;

    border: 0.5px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 8px 8px;
} 
/* "nav-parent-menu-items" instructs elements where are designated area (position) & elements space-between. */
.nav-parent-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* list-style: none; */
    gap: 8px;
    margin: 0px;
    padding: 0px;
}
/* "nav-parent-menu-items li" controls elements characteristics. */
.nav-parent-menu-items li {
    list-style: none;
    cursor: pointer;

    padding: 8px 8px;
    /* border: 0.5px solid rgb(222, 222, 222); */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    font-size: 16px;
}
/* "nav-parent-menu-items li:hover" focus on behavior. */
.nav-parent-menu-items li:hover {
    background: #1D4ED8;
    color: white;

    font-weight: bold;
}
/* --- ------ Nav ends here ------ --- */

/* --- ------ Header starts here ------ --- */
.header-parent {
    position: relative;
    height: 700px;
    width: 100%;

    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-parent-overlay {
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.header-parent-text {
    z-index: 2;

    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-parent-text-body {
    color: white;
    text-align: center;
    padding: 20px;
}
.header-parent-text-body h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.header-parent-text-body h1 em {
    font-style: italic;
}
.header-parent-text-body p {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 30px;
}
/* --- ------ Header ends here ------ --- */

/* --- ------ Main starts here ------ --- */
/*main-section-one ------ --- */
.main-section-one {
    position: relative;
    height: 1050px;
    width: 100%;

    /* border: 0.5px solid rgb(222, 222, 222); */
    padding: 24px 0px 24px 0px;
    background-color: rgb(255, 255, 255);
}
.main-section-one-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
}
.main-section-one-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 30px;
    margin: 24px auto;
}

/*main-section-two ------ --- */
.main-section-two {
    position: relative;
    /* height: 500px; */
    width: 100%;

    /* border: 0.5px solid rgb(222, 222, 222); */
    padding: 24px 0px;
    background-color: rgb(255, 255, 255);
}
.main-section-two-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
    width: 100%;
    /* height: 100px; */
    padding: 40px 0px;
}
.main-section-two-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 24px;
    margin: 24px auto;
}

/*main-section-three ------ --- */
.main-section-three {
    position: relative;
    width: 100%;

    padding: 24px 0px;
    background-color: rgb(255, 255, 255);
}
.main-section-three-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
    width: 100%;
    padding: 40px 0;
}
.main-section-three-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 24px;
    margin: 24px auto;
}
/*left-wing*/
.main-section-three-body-left-wing {
    border: 0.5px solid rgb(222, 222, 222);     
    border-radius: 16px;

    padding: 16px;
}
.left-wing-header hr {
    margin: 16px -16px;

    border: none;
    border-top: 1px solid #ddd;
}
.left-wing-body {
    position:relative
    margin: 8px 8px;
}
.left-wing-body-box-content {
    padding: 24px;

    border: 0.5px solid rgb(222, 222, 222);
    border-radius: 8px;
}
.left-wing-body-box-content hr {
    border: none;
    border-top: 1px solid #ddd;

    margin: 16px -24px;
}
.box-content-source {
    padding: 16px 16px;
}
.box-content-source hr {
    border:none;
    border-top:1px solid #ddd;

    margin:12px -16px;
}
.Questions {
    margin-bottom: 12px;
}
.Answer {
    margin-top: 12px;
}
/*right-wing*/
.main-section-three-body-right-wing {
    border: 0.5px solid rgb(222, 222, 222);     
    border-radius: 16px;

    padding: 16px;
}
.right-wing-header hr {
    margin: 16px -16px;

    border: none;
    border-top: 1px solid #ddd;
}
.right-wing-body {
    border: 0.5px solid rgb(222, 222, 222);     
    border-radius: 16px;

    padding: 16px;
}
.form-section {
    margin-bottom: 40px;
}
.form-section-items {
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;
}
.form-section-items label {
    margin-bottom: 8px;

    font-weight: 600;
}
.form-section-items input, 
.form-section-items textarea {
    padding: 12px;

    border: 1px solid #ddd;
    border-radius: 6px;

    font-size: 16px;;
}
/* --- ------ Main ends here ------ --- */