/* --- ------ Universal Selector starts here ------ --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    font-family: "Inter", sans-serif;
}
/* --- ------ Universal Selector ends here ------ --- */

/* --- ------ Container for max-width starts here ------ --- */
.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}
/* --- ------ Container for max-width ends here ------ --- */

/* --- ------ Common Button start here ------ --- */
.common-button-one {
    background-color:#1D4ED8;
    padding: 16px 16px;
    border: none;
    border-radius: 5px;

    color: white;
    font-size: 16px;
    font-weight: bold;
}
.common-button-one:hover {
    box-shadow: 0px 0px 10px black;
}
/* --- ------ Common Button ends here ------ --- */

/* --- ------ Common Card starts here ------ --- */
/*main-section-one ------ --- */
.speaker-card {
    display: flex;
    flex-direction: column;

    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.speaker-card img {
    display: block;
    object-fit: cover;
    
    border-radius: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.speaker-card h3 {
    margin-top: 8px;
    margin-bottom: 8px 0;
}
.speaker-card h5 {
    color:#1D4ED8;
    margin-top: 16px;
}
.speaker-card p {
    color: gray;
    line-height: 1.6;
    margin-top: 16px;
}
/* --- ------ Common Card ends here ------ --- */


/* --- ------ Nav starts here ------ --- */
/* "nav-parent" is a command center in Nav bar. */
.nav-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0.5px solid rgb(222, 222, 222);
    padding: 8px 16px;
    background-color: rgb(255, 255, 255);
}
/* "nav-parent-logo" class shows the area of logo. */
.nav-parent-logo {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 4px 8px;
}
/* "nav-parent-logo-source" provides properties & characteristics of the logo. */
.nav-parent-logo-source {
    height: 40%;
    width: auto;
}
/* "nav-parent-menu" is marking the area of influence. */
.nav-parent-menu {
    justify-content: space-between;
    align-items: center;

    border: 0.5px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 8px 8px;
} 
/* "nav-parent-menu-items" instructs elements where are designated area (position) & elements space-between. */
.nav-parent-menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* list-style: none; */
    gap: 8px;
    margin: 0px;
    padding: 0px;
}
/* "nav-parent-menu-items li" controls elements characteristics. */
.nav-parent-menu-items li {
    list-style: none;
    cursor: pointer;

    padding: 8px 8px;
    /* border: 0.5px solid rgb(222, 222, 222); */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    font-size: 16px;
}
/* "nav-parent-menu-items li:hover" focus on behavior. */
.nav-parent-menu-items li:hover {
    background: #1D4ED8;
    color: white;

    font-weight: bold;
}
/* --- ------ Nav ends here ------ --- */

/* --- ------ Header starts here ------ --- */
.header-parent {
    position: relative;
    height: 700px;
    width: 100%;

    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-parent-overlay {
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}
.header-parent-text {
    z-index: 2;

    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-parent-text-body {
    color: white;
    text-align: center;
    padding: 20px;
}
.header-parent-text-body h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.header-parent-text-body h1 em {
    font-style: italic;
}
.header-parent-text-body p {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 30px;
}
/* --- ------ Header ends here ------ --- */

/* --- ------ Main starts here ------ --- */
/*main-section-one ------ --- */
.main-section-one {
    position: relative;
    height: 1050px;
    width: 100%;

    border: 0.5px solid rgb(222, 222, 222);
    padding: 24px 0px 24px 0px;
    background-color: rgb(255, 255, 255);
}
.main-section-one-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
}
.main-section-one-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 24px auto;
}

/*main-section-one ------ --- */

/* --- ------ Main ends here ------ --- */